<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <header class="header">

        <div class="header-top-bar">
            <a href="/"><img class="header_logo" src="/img/logo-mercado-liebre.svg" alt="logo_MeLi"></a>

            <form class="header_search">
                <input type="search" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas y mas..." aria-label="Campo de búsqueda" />
                <i class="fas fa-search"></i>
            </form> 

            <h4><i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
        
        <nav class="header-nav">
            <ul class="header_nav1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
            <ul  class="header_nav2">
                <li>
                    <a href="/register">Creá tu cuenta</a>
                    <i class="fas fa-user-alt"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    <i class="fas fa-shopping-cart"></i>
                </li>
            </ul>
        </nav>
        
        <a class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    
    </header>

    <img class="banner" src="/img/img-home-banner.jpg" alt="img-home-banner">

    <main class="main">

        <h2 class="titulares">Basado en tu última visita</h2>
        <section>
          
            <article>
                <img class="article_img" src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="article_detail">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img class="article_img" src="/img/img-macbook-pro-2019.jpg" alt="">
                <div class="article_detail">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img class="article_img" src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="article_detail">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img class="article_img" src="/img/img-tv-samsung-smart.jpg" alt="">
                <div class="article_detail">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">SmartTV Samsung 43</h4>
                </div>
            </article>
        </section>

        <h2 class="titulares">Ofertas</h2>
        <section>
           
            <article>
                <img class="article_img" src="/img/img-cafetera-moulinex.jpg" alt="">
                <div class="article_detail">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img class="article_img" src="/img/img-macbook-pro-2019.jpg" alt="">
                <div class="article_detail">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img class="article_img" src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <div class="article_detail">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img class="article_img" src="/img/img-tv-samsung-smart.jpg" alt="">
                <div class="article_detail">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">SmartTV Samsung 43</h4>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-info">
             <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>/>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        </div>

        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>

    </footer>
</body>

</html>